<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Domotica App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
  <div class="home">
    <form action="/" method="post">
                <h1>Verlichting
                    <p>
                        <input type="radio" name="verlichting" value="lampen_uit">Lampen Uit<br>
                        <input type="radio" name="verlichting" value="lampen_aan">Lampen Aan<br>
                        <input type="submit" value="Submit">
                    </p>
                </h1>
    </form>
      <form action="/" method="post">
                <h2>Camera
                    <p>
                        <input type="radio" name="camera" value="camera_uit">Camera Uit<br>
                        <input type="radio" name="camera" value="camera_aan">Camera Aan<br>
                        <input type="submit" value="Submit">
                    </p>
                </h2>
      </form>


        <form action="/" method="post">
                <h3>Noodalarm
                    <p>
                        <button class="btn danger" name="noodalarm">Alarm</button>
                    </p>
                </h3>
            </form>
        <form action="www.google.com" target="_blank">
            <input type="submit" value="Submit">camerafeed
        </form>
  </div>

</body>
</html>